.forgot-password-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin-top: 67px;
}

/* back icon styles */
.forgot-password-back-icon-container {
    position: relative;
    right: 20%;
    bottom: 7%;
    cursor: pointer;
    font-size: 43px;
    color: rgb(156, 153, 153)
}
.forgot-password-back-icon {
    padding: 8px;
}
.forgot-password-back-icon-container .forgot-password-back-icon:hover {
    background-color: rgba(255, 255, 255, 0.226);
    border-radius: 50%;
}

/* text styles */
.forgot-password-text-container {
    margin-right: 25%;
    margin-bottom: 10px;
    color: white;
}

/* input styles */
.forgot-password-form label:nth-child(2) {
    top: 31%;
    left: 32%;
}
.forgot-password-form p:nth-child(3) {
    top: 39%;
}

/* submit button styles */
.forgot-password-form {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.forgot-password-btn {
    padding: 15px;
    background-color: #3b48fc;
    color: white;
    border: none;
    border-radius: 16px;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease;
    margin: 15px;
}