/* body styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #161e2b;
}

/* form styles */
.register-form {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* input container styles */
.register-form div {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

/* input field styles */
.register-form input {
    background-color: transparent;
    color: white;
    padding: 12px;
    border: 1px solid #b8b6b68f;
    border-radius: 16px;
    height: 40px;
    font-size: 16px;
    width: 300px;
}
.register-form input:hover{
    border-color: #f7f7f7;
}
.register-form label {
    color: white;
    font-size: 17px;
}

/* button styles */
.registerForm-container button {
    padding: 12px;
    background-color: #3b48fc;
    color: white;
    border: none;
    border-radius: 16px;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease;
}
button.haveAccount {
    background-color: transparent;
    border: none;
    color: #3b48fc;
    cursor: pointer;
    border: 2px solid #a09999fd;
}
button:hover {
    transform: scale(1.03);
}
/* image styles */
.instagram-icon-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: black;
    height: 100%;
    width: 100%;
}
.instagram-icon-container img {
    width: 170px;
}
.instagram-icon-container img:nth-child(1) {
    margin-bottom: 160px;
}
.instagram-icon-container img:nth-child(3) {
    width: 150px;
    margin-top: 0;
}
.instagram-icon-container h6 {
    text-align: center;
    color: #ffffff8f;
    font-size: 13px;
    margin-bottom: 0;
}

/* main container */
.registerPage-container {
    display: flex;
    height: 100vh;
}

/* form container styles */
.registerForm-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #161e2b;
}

/* divider styles */
.divider {
    width: 5px;
    background-color: #3a475c;
}

/* eye icon styles */
.slash-eye-icon {
    position: relative;
    top: -32px;
    left: 260px;
    color: #ffffff8f;
    cursor: pointer;
}