/* navbar container styles */
.navbar-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.719);
    gap: 5px;
    padding-left: 20px;
    width: 70px;
    overflow: hidden;
    transition: width 0.3s ease;
}
.navbar-container:hover {
    width: 200px;
}

/* navbar links container styles */
.navbar-container div {
    display: flex;
    gap: 15px;
    margin: 10px 0;
    width: min-content;
    padding: 8px;
    box-sizing: border-box;
    color: white;
    align-items: center;
}

/* navbar links styles */
.navbar-container a {
    text-decoration: none;
    width: 30px;
    color: White;
}

/* icons styles */
.navbar-home-icon,
.navbar-notifications-icon,
.navbar-profile-pic,
.navbar-instagram-logo,
.navbar-search-icon,
.navbar-explore-icon,
.navbar-messages-icon,
.navbar-reels-icon,
.navbar-create-post-icon,
.navbar-menu-icon {
    font-size: 30px;
    width: 40px;
    cursor: pointer;
}

/* h5 styles*/
.navbar-container h5 {
    white-space: nowrap;
    font-size: 17px;
    transform: translateX(-200px);
    transition: transform 0.3s ease;
}

.navbar-container:hover h5 {
    transform: translateX(0);
}
.navbar-container div:hover {
    background-color: rgba(255, 255, 255, 0.212);
    border-radius: 10px;
}

/* image styles */
.navbar-profile-pic {
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}