/* main container */
.login-main-container {
    display: flex;
    height: 100vh;
}

/* images styles */
.login-images-container {
    flex: 1;
    background-color: rgb(14, 13, 13);
}
.login-instagram-logo-conainer img {
    width: 150px;
    margin: 35px;
}
.login-image2-container {
    text-align: center;
}
.login-image2-container img {
    width: 370px;
}

/* form container styles*/
.login-form-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
}
.login-form-container form {
    display: flex;
    flex-direction: column;
    margin: 25px;
}

/* input styles */
.login-form-container form label:nth-child(4) {
    position: absolute;
    left: 56%;
    top: 39%;
}

/* text styles */
.login-text-container {
    text-align: center;
}
.login-text-container h2 {
    color: white;
    font-size: 30px;
}
.login-text-container span {
    background: linear-gradient(
        45deg, 
    #f58529, 
    #dd2a7b, 
    #8134af, 
    #515bd4);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.login-form-container .text-container {
    color: white;
    margin-right: 40%;
}

/* back icon styles */
.back-icon-container {
    position: absolute;
    bottom: 41px;
    left: -40%;
}

/* button styles */
form .login-submit-button {
    padding: 12px;
    background-color: #3b48fc;
    color: white;
    border: none;
    border-radius: 16px;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease;
    margin: 15px;
}
form .forgot-password-button {
    border: none;
    border-radius: 16px;
    color: rgb(255, 255, 255);
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
    padding: 12px;
    transition: .3s ease;
    margin-bottom: 15px;
}
form .forgot-password-button:hover {
    background-color: rgba(255, 255, 255, 0.205);
}
form .create-account-button {
    border: 2px solid #3b48fc;
    cursor: pointer;
    background-color: transparent;
    color: #5e69ff;
    transition: .3s ease;
    margin: 20px;
    border-radius: 15px;
    padding: 12px;
    font-size: 16px;
}
form .create-account-button:hover {
    background-color: #5a65fa6e;
}

/* meta logo container */ 
.meta-logo-container {
    display: flex;
    color: white;
    gap: 10px;
    justify-content: center;
    margin-top: 50px;
    font-size: 20px;
}

/* divider styles */
.divider {
    width: 2px;
}

/* links styles */
.verify-email-link {
    color: red;
    text-align: center;
}
.verify-email-link a {
    color: red;
}
