.reset-password-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin-top: 67px;
}

/* back icon styles */
.reset-password-back-icon-container {
    position: relative;
    right: 20%;
    bottom: 7%;
    cursor: pointer;
    font-size: 43px;
    color: rgb(156, 153, 153)
}
.reset-password-back-icon {
    padding: 8px;
}
.reset-password-back-icon-container .reset-password-back-icon:hover {
    background-color: rgba(255, 255, 255, 0.226);
    border-radius: 50%;
}

/* text styles */
.reset-password-text-container {
    margin-left: 30px;
    margin-bottom: 10px;
    color: white;
}

/* input styles */
.reset-password-input-container label:nth-child(2) {
    top: 42%;
    left: 31%;
}
.reset-password-form p:nth-child(3) {
    top: 50%;
}

/* submit button styles */
.reset-password-form {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

/* button styles */
.reset-password-btn {
    padding: 12px;
    background-color: #3b48fc;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease;
    margin-bottom: 100px;
}