@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
  font-family: "Roboto", sans-serif;
  outline: none;
  box-sizing: border-box;
}
/* body.dark div div * {
  background-color: rgb(243, 7, 7) !important;
  color: rgb(255, 255, 255);
}
body.light {
  background-color: rgb(12, 218, 233) !important;
} */
