@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    font-family: "Roboto", sans-serif;
    outline: none;
    box-sizing: border-box;
    font-weight: 500;
    margin: 0;
}
:root {
    --main-bg-color: rgb(255, 255, 255);
    --main-text-color: rgb(0, 0, 0);
    --button-color-1: #3b48fc;
    --button-color-2: #cfcfcf;
    --modal-bg-color: #ffffff;
}

body.dark {
    --main-bg-color: rgb(0, 0, 0);
    --main-text-color: rgb(255, 255, 255);
    --button-color-1: #3b48fc;
    --button-color-2: #313131;
    --modal-bg-color: #212121;
}