/* page container */
.loading-container {
    background-color: #01050c;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100vh;
}

/* instagram logo styles */
.instagram-icon-loading-container img{
    width: 130px;
    margin-bottom: 135px;
}

/* meta logo styles */
.loading-meta-container img {
    width: 140px;
    margin-bottom: 10px;
}
.loading-meta-container h6 {
    text-align: center;
    color: #ffffff8f;
    font-size: 12px;
    margin-bottom: 0;
}
.loading-meta-container {
    margin-bottom: 0;
}
